# ==============================
# C++ Compiled Files
# ==============================
*.o
*.out
*.exe
a.out
calculator

# ==============================
# IDE / Editor Settings
# ==============================
.vscode/
.idea/
# ==============================
# Temporary / Log Files
# ==============================
*.log
*.tmp
